apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: waf-killer
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/waf-killer/waf-killer
    targetRevision: main
    path: deploy/kubernetes/charts/waf-killer
    helm:
      valueFiles:
        - values-production.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: waf-killer

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false

    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground

    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
